.news-container {
    width: 100%;
}

.news-body {
    flex-wrap: wrap;
}

.article-card {
    display: flex;
    /* width: 70vh; */
    width: clamp(50%, 70vw, 400px);
    margin: auto;
    gap: 50px;
    text-decoration: none;
    color: #eee;
    padding: 50px 0;
}

.article-card:nth-of-type(1) {
    border-top: 1px solid grey;
}

.article-card {
    border-bottom: 1px solid grey;
}

.article-card img {
    width: 380px;
    height: 230px;
}

.article-card div {
    color: #eee;
}

.article_card span:hover {
    color: #fff;
}
