.games_container {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.gameBody{
    display: inline-flex;
    gap: 100px;
}

.gameBody .games_side_nav{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    width: 25%;
}



.games_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

.games_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 3%;
    border-right: 1px solid grey;
}

.games_search {
    display: inline-flex;
}

.search_bar{
    width: 34vh !important;
}

.advanceSearchBttn{
    color: #eee;
    border: none;
    background-color: #8d52ff;
    padding: 5px 3% 3%;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 2px;
    height: 33px;
    width: 20vh;
}

.search_bar {
    position: relative;
}

.search_bar_icon {
    position: absolute;
    margin-left: 31vh;
    margin-top: 13px;
}

.display_games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    border-right: 1px solid grey;
}

.game {
    text-decoration: none;
    color: #eee;
    transition: 0.25s ease-in-out;
}

.game:hover {
    color: #6e3ad3;
}

.game_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 3%;
    padding: 3% 0;
    transition: 0.25s ease-in-out;
}

.game_card > img {
    border-radius: 5px;
}

.game_card:hover {
    transform: scale(1.2);
}

.game_title {
    font-size: 18pt;
    padding: 10% 0;
}

h5{
    color: #6e3ad3;
    font-weight: bold;
}

.gameServerTitle{
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.paginationListNumber{
    margin: auto;
    width: 30%;
    padding: 10px;
}

.fontAwsome{
    color: grey;
    font-size: 20px;
}

.customSelect{
    width: 200px;
    height: 34px;
    border-radius:2px;
    border:none;
    background-color: #6e3ad3;
    padding: 10px 30px 5px 10px;
    color: white;
    font-size: 12px;
}

.dropDownComp{
    margin-left: 250px;
    border-right: 1px solid grey;
    box-shadow: 0 -10px 25px rgba(125, 125, 125, 0.43);
}

