.nav-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 30px 0;
    margin: auto;
}

.nav-container-1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    color: #eee;
}

.nav-container-1 a {
    text-decoration: none;
    color: #eee;
}

.nav-links-1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10%;
    width: 20%;
}

.nav-links-1 a {
    border: 2px solid #8d52ff;
    cursor: pointer;
    text-decoration: none;
    padding: 3%;
    flex: 1;
    color: #eee;
}

.nav-links-1 a:hover {
    color: #eee;
}

.register-btn {
    background-color: #8d52ff;
}

.register-btn:hover {
    background-color: #6e3ad3;
    border-color: #6e3ad3;
}

.login-btn {
    border: 2px solid #8d52ff;
}

/* */
.nav-container-2 {
    display: flex;
    background-color: #000;
}

.nav-container-2 p {
    width: 50%;
    margin: 10px auto;
}
