@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.JoinChat{
    /* margin: 10vh 20vh; */
    height: 100vh;
}

/********** Container **********/

.container {
    border: 2px solid #dedede;
    background-color: rgba(241, 241, 241, 0.56);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    bottom: 0px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container .user {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
}

/********** Servers **********/

.chat_servers {
    margin-top: 10%;
    border-right: 2px solid white;
    height: 100vh;
}

.chat_servers h4 {
    text-align: center;
}

.chat_server_names {
    margin: 10vh 10vh;
}

.chat_server_names {
    font-family: Times;
    font-size: 15px;
    cursor: pointer;
}

/********** Chat Messages **********/

.chat_body_message {
    margin-top: 20%;
}

.chat_timestamp {
    float: right;
    color: #ffffff;
}

.user span{
    color: white;
}

.container p {
    color: black;
}

.inputMessage{
    width: 10vh;
}

.joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.JoinChatBox{
    height: 60%;
}

.joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.joinChatContainer input {
    width: 300px;
    height: 30px;
    margin: 7px;
    border: 2px solid rgba(0, 0, 0, 0.84);
    padding: 5px;
    font-size: 12px;
}

.chat_window {
    margin-top: 3%;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.84);
    width: available;
    height: 80vh !important;
    overflow-y: scroll;
    z-index: 1;
}

.chat_window p {
    margin: 0;
}

.chat_window, .chat_body {
    border: 1px solid #263238;
    background: rgba(0, 0, 0, 0.84);
    position: relative;
}

.chat_window .chat_body .message {
    height: auto;
    padding: 10px;
    display: flex;
}

.input_chat_section {
    display: inline-flex;
}

.input_chat_section input{
    width: 115vh;
}

.input_chat_section {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
}

.hide {
    opacity: 0 !important;
}

.header {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.popUpBox{
    position:fixed;
    top:50%;
    left:50%;
    width:400px;
    height:400px;
    margin-left:-200px;
    margin-top:-200px;
    z-index: 1;
}

.emojiIcon{
    opacity: 0.5;
}

